<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>users List</title>
</head>
<body>
<h1>user list</h1>
<table border="1" cellpadding="5" cellspacing="0">
    <thead>
    <tr>
        <th>name</th>
        <th>surname</th>
        <th>age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}">name</td>
        <td th:text="${user.surname}">surname</td>
        <td th:text="${user.age}">age</td>
    </tr>
    </tbody>
</table>
</body>
</html>